.DS_Store
publish/ol/package/
publish/esri/package/
publish/cesium/package/
publish/components/package/
node_modules/
node_modules-/
node_modules*/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
*copy.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.npmrc
